{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Users List' }}
{% endblock %}

{% block body %}
    <h1>{{ 'Users List' }}</h1>
    <a href="{{ url('user_create') }}" class="btn btn-primary">{{ 'Add New' }}</a>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'ID' }}</th>
                <th>{{ 'Email' }}</th>
                <th>{{ 'Role' }}</th>
{#                <th>{{ 'Password' }}</th>#}
                <th>{{ 'Actions' }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
{#                    <td>{{ user.password }}</td>#}
                    <td>
                        <a href="{{ url('user_show', {id: user.id}) }}" class="btn btn-info">{{ 'View' }}</a>
                        <a href="{{ url('user_edit', {id: user.id}) }}" class="btn btn-warning">{{ 'Edit' }}</a>
{#                        <a href="{{ url('user_delete', {id: user.id}) }}" class="btn btn-danger">{{ 'Delete' }}</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'No users found.' }}</p>
    {% endif %}
{% endblock %}
