{% extends 'base.html.twig' %}

{% block title %}
    {{ 'User Details' }} {{ user.id|default('') }}
{% endblock %}

{% block body %}
    <h1>{{ 'User Details' }} {{ user.id|default('') }}</h1>
    <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'Edit' }}">
        {{ 'Edit' }}
    </a>
    {% if user is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'ID' }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'Email' }}</dt>
            <dd>{{ user.email }}</dd>
            <dt>{{ 'Roles' }}</dt>
            <dd>{{ user.roles|join(', ') }}</dd>
        </dl>
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'Back to list' }}">
                {{ 'Back to list' }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'User not found.' }}
        </p>
    {% endif %}
{% endblock %}
