{% extends 'base.html.twig' %}

{% block title %}
    {{ 'User Details' }} {{ user.id|default('') }}
{% endblock %}

{% block body %}
    <h1>{{ 'User Details' }} {{ user.id|default('') }}</h1>
    <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'Edit' }}">
        {{ 'Edit' }}
    </a>
    {% if contact is defined and contact %}
        <dl class="dl-horizontal">
            <dt>{{ 'ID' }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'Name' }}</dt>
            <dd>{{ user.name }}</dd>
            <dt>{{ 'Surname' }}</dt>
            <dd>{{ user.surname }}</dd>
            <dt>{{ 'Phone' }}</dt>
            <dd>{{ user.phone }}</dd>
            <dt>{{ 'Address' }}</dt>
            <dd>{{ user.address }}</dd>
        </dl>
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'Back to list' }}">
                {{ 'Back to list' }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'Contact not found.' }}
        </p>
    {% endif %}
{% endblock %}