{% extends 'base.html.twig' %}

{% block title %}
    Post Details {{ post.id|default('') }}
{% endblock %}

{% block body %}
    <h1>Post Details {{ post.id|default('') }}</h1>
    {% if post is defined %}
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ post.id }}</dd>
            <dt>Created At</dt>
            <dd>{{ post.createdAt|format_date('long') }}</dd>
            <dt>Updated At</dt>
            <dd>{{ post.updatedAt|format_date('long') }}</dd>
            <dt>Title</dt>
            <dd>{{ post.title }}</dd>
            <dt>Category</dt>
            <dd>{{ post.category.title }}</dd>
            <dt>Post Date</dt>
            <dd>{{ post.postDate|date('Y/m/d H:i') }}</dd>
            <dt>Content</dt>
            <dd>{{ post.content}}</dd>
        </dl>
        <p>
            <a href="{{ path('post_index') }}" title="Back to list">
                Back to list
            </a>
        </p>
    {% else %}
        <p>
            Post not found.
        </p>
    {% endif %}
{% endblock %}